@page
@model PlantTrees.Pages.GetPlanters
@{
    ViewData["Title"] = "Planters List";
}

<div class="fatherForms">
    <div class="listPlanters">
        <h1>Planters</h1>


        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Country</th>
                    <th>Planted Trees</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var i in Model.Planters)
                {
                    <tr> 
                       <td>@i.Name @i.LastName</td>
                       <td>@i.Age</td>
                       <td>@i.Country</td>
                       <td>@i.PlantedTrees</td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-page="Create" class="btn green-btn">Create New Planter</a>
    </div>
        
</div>
